{% extends 'bootstrap/base.html' %}

{% block title %}
  {% if title %}{{ title }} - Microblog{% else %}{{ _('Welcome to') }} Microblog{% endif %}
{% endblock %}

{% block navbar %}
  <nav class="navbar nav-default">
    <div>Microblog:
      <a href="{{ url_for('index') }}">{{ _('Home') }}</a>
      <a href="{{ url_for('explore')}}">{{ _('Explore') }}</a>
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('auth.login') }}">{{ _('Sign In') }}</a>
      {% else %}
      <a href="{{ url_for('user', username=current_user.username) }}">{{ _('Profile') }}</a>
      <a href="{{ url_for('auth.logout') }}">{{ _('Sign Out') }}</a>
      {% endif %}
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-info" role="alert">{{ _('%(message)s', message=message) }}</div>
      {% endfor %}
    {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block#}
    {% block app_content %}{% endblock %}
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ moment.include_moment() }}
  {{ moment.lang(g.locale) }}
{% endblock %}
